<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="edu.cmu.aaspe.emv2viewer.Activator"
               id="edu.cmu.aaspe.emv2viewer"
	       name="emv2viewer">
    </component>
  </extension>
</plugin>
